<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SweetHolidays</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css" />
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="js/validation_form.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<script type="text/javascript" src="js/JFForms.js"></script>
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
<!--nav-->
<script>
//<![CDATA[
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
		//]]>
</script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<a href="SweetHolidays"><img src="images/logo.png" alt="" /></a>
			</div>
			<div class="h_right">
				<!--start menu -->
				<ul class="menu">
					<li th:if="${session.AUTH != null}" ><a href="SweetNew">Devenez hôte</a></li>
					<li><a href="SweetHolidays">hôtel</a></li>
					<li><a href="SweetPlace">chambres &amp; appartements</a></li>
					<li><a href="SweetResa">réservation</a></li>
					<li><a href="SweetActivities">activités</a></li>
					<li class="active"><a href="SweetContact">contact</a></li>
					<li th:if="${session.AUTH == null}" >
						<div class="co_btn">
							<a id="modal_trigger" href="#modal"><input type="button" value="Connexion" /></a>
						</div>
					</li>
					<li th:if="${session.AUTH != null}">
							<a href="SweetAccount" th:text="${session.AUTH.name} + ' ' + ${session.AUTH.prenom}"></a>
					</li>
					<li th:if="${session.AUTH != null}">
						<form th:action="@{/SweetContact}" method="post">
							<a class="deco_btn"><input type="submit" value="Déconnexion"/></a>
						</form>	
					</li>
				</ul>
				<!-- start profile_details -->	
				<div class="container">
					<div id="modal" class="popupContainer" style="display:none;">
						<header class="popupHeader">
							<span class="header_title">Connexion</span>
							<span class="modal_close"><i class="fa fa-times"></i></span>
						</header>
	
					<section class="popupBody">
						<div class="social_login">
							<div class="action_btns">
								<div class="one_half"><a href="#" id="login_form" class="btn">Se connecter</a></div>
								<div class="one_half last"><a href="#" id="register_form" class="btn">S'inscrire</a></div>
							</div>
						</div>
			
						<!-- Username & Password Login form -->
						<div class="user_login">
							<form th:action="@{/SweetContact}" method="post" th:object="${client}">
								<label>E-mail :</label>
								<input th:field="*{email}"  type="text" />
								<br />
			
								<label>Mot de passe :</label>
								<input th:field="*{mdp}" type="password" />
								<br />
			
								<div class="action_btns">
									<div class="one_half"><a href="#" class="btn back_btn">Retour</a></div>
									<div class="one_half last"><div class="insc_btn"><input type="submit" value="Connexion"/></div></div>
								</div>
							</form>
						</div>
			
						<!-- Register Form -->
						<div class="user_register">
							<form onSubmit="return validation(this)" th:action="@{/SweetContact}" method="post" th:object="${client}">
								<label>Nom :</label>
								<input th:field="*{name}" id="name" type="text" />
								<br />
								
								<label>Prénom :</label>
								<input th:field="*{prenom}" id="prenom" type="text" />
								<br />
								
								<label>Adresse e-mail :</label>
								<input th:field="*{email}" id="email" type="email" />
								<br />
			
								<label>Mot de passe :</label>
								<input th:field="*{mdp}" id="mdp" type="password" />
								<br />
								
								<label>Confirmation de mot de passe :</label>
								<input id="mdp1" type="password" />
								<br />
							
								<div class="action_btns">
									<div class="one_half"><a href="#" class="btn back_btn">Retour</a></div>
									<div class="one_half last"><div class="insc_btn"><input type="submit" value="S'inscrire"/></div></div>
								</div>
							</form>
						</div>
					</section>
					</div>
				</div>
				<!-- Script pour la fenêtre de connexion -->
				<script type="text/javascript">
					$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
				
					$(function(){
						// Calling Login Form
						$("#login_form").click(function(){
							$(".social_login").hide();
							$(".user_login").show();
							return false;
						});
				
						// Calling Register Form
						$("#register_form").click(function(){
							$(".social_login").hide();
							$(".user_register").show();
							$(".header_title").text('S\'inscrire');
							return false;
						});
				
						// Going back to Social Forms
						$(".back_btn").click(function(){
							$(".user_login").hide();
							$(".user_register").hide();
							$(".social_login").show();
							$(".header_title").text('Connexion');
							return false;
						});
				
					})
				</script>						
				
			</div>
			<div class="clear"></div>
			<div class="top-nav">
				<nav class="clearfix">
					<ul>
						<li th:if="${session.AUTH != null}"><a href="SweetNew">Devenez hôte</a></li>
						<li><a href="SweetHolidays">hôtel</a></li>
						<li><a href="SweetPlace">chambres &amp; appartements</a></li>
						<li><a href="SweetResa">réservation</a></li>
						<li><a href="SweetActivities">activités</a></li>
						<li class="active"><a href="SweetContact">contact</a></li>
					</ul>
					<a href="#" id="pull">Menu</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<!--start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<div class="contact">				
				<div class="contact_left">
					<div class="contact_info">
			    	 	<h3>Retrouvez nous</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=ENSISA,+12+Rue+des+Frères+Lumière,+68093+Mulhouse,+France&amp;aq=4&amp;oq=light&amp;sll=47.7290003,7.3110982&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=ENSISA,+12+Rue+des+Frères+Lumière,+68093+Mulhouse,+France&amp;t=m&amp;z=14&amp;ll=47.7290003,7.3110982&amp;output=embed"></iframe><br/><small>
					   																										  <a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=ENSISA,+12+Rue+des+Frères+Lumière,+68093+Mulhouse,+France&amp;aq=4&amp;oq=light&amp;sll=47.7290003,7.3110982&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=ENSISA,+12+Rue+des+Frères+Lumière,+68093+Mulhouse,+France&amp;t=m&amp;z=14&amp;ll=47.7290003,7.3110982" style="color: #242424;text-shadow: 0 1px 0 #ffffff;text-align: left;font-size: 0.7125em;padding: 5px;font-weight: 600;">Agrandir le plan</a></small>
					   		</div>
      				</div>
      			<div class="company_address">
				     	<h3>Contact SweetHolidays :</h3>
						<p>12 Rue des Frères Lumière</p>
						<p>68350 Brunstatt</p>
						<p>France</p>
				   		<p>Tel : (00) 222 666 444</p>
				   		<p>Fax : (000) 000 00 00 0</p>
				 	 	<p>E-mail : <a href="mailto:info@sweetholidays.com">info(at)sweetholidays.com</a></p>
				   		<p>Suivez nous : <a href="#facebook">Facebook</a>, <a href="#twitter">Twitter</a></p>
				   </div>
				</div>				
				<div class="contact_right">
				  <div class="contact-form">
				  	<h3>Contactez Nous</h3>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>Nom</label></span>
						    	<span><input name="userName" type="text" class="textbox"/></span>
						    </div>
						    <div>
						    	<span><label>E-Mail</label></span>
						    	<span><input name="userEmail" type="email" class="textbox"/></span>
						    </div>
						    <div>
						     	<span><label>Mobile</label></span>
						    	<span><input name="userPhone" type="tel" class="textbox"/></span>
						    </div>
						    <div>
						    	<span><label>Sujet</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="soumettre"/></span>
						  </div>
					    </form>
				    </div>
  				</div>		
  				<div class="clear"></div>		
		  </div>
	</div>
</div>
</div>		
<!--start main -->
<div class="footer_bg">
	<div class="wrap">
		<div class="footer">
			<div class="copy">
				<p class="link">
					<span>© All rights reserved Team BAZOOKA</span>
				</p>
			</div>
			<div class="f_nav">
				<ul>
					<li th:if="${session.AUTH != null}"><a href="SweetNew">Devenez hôte</a></li>
					<li><a href="SweetHolidays">hôtel</a></li>
					<li><a href="SweetPlace">chambres &amp; appartements</a></li>
					<li><a href="SweetResa">réservation</a></li>
					<li><a href="SweetActivities">activités</a></li>
					<li class="active"><a href="SweetContact">contact</a></li>
				</ul>
			</div>
			<div class="soc_icons">
				<ul>
					<li><a class="icon1" href="#"></a></li>
					<li><a class="icon2" href="#"></a></li>
					<li><a class="icon3" href="#"></a></li>
					<li><a class="icon4" href="#"></a></li>
					<li><a class="icon5" href="#"></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</body>
</html>