<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SweetHolidays</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/validation_form.js"></script>
<link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css" />
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<script type="text/javascript" src="js/JFForms.js"></script>
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
<!--nav-->
<script>
//<![CDATA[
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
		//]]>
</script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<a href="SweetHolidays"><img src="images/logo.png" alt="" /></a>
			</div>
			<div class="h_right">
				<!--start menu -->
				<ul class="menu">
					<li class="active"><a href="SweetNew">Devenez hôte</a></li>
					<li><a href="SweetHolidays">hôtel</a></li>
					<li><a href="SweetPlace">chambres &amp; appartements</a></li>
					<li><a href="SweetResa">réservation</a></li>
					<li><a href="SweetActivities">activités</a></li>
					<li><a href="SweetContact">contact</a></li>
					<li th:if="${session.AUTH != null}">
							<a href="SweetAccount" th:text="${session.AUTH.name} + ' ' + ${session.AUTH.prenom}"></a>
					</li>
					<li th:if="${session.AUTH != null}">
						<form th:action="@{/SweetHolidays}" method="post">
							<a class="deco_btn"><input type="submit" value="Déconnexion"/></a>
						</form>	
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="top-nav">
				<nav class="clearfix">
					<ul>
						<li class="active"><a href="SweetNew">Devenez hôte</a></li>
						<li><a href="SweetHolidays">hôtel</a></li>
						<li><a href="SweetPlace">chambres &amp; appartements</a></li>
						<li><a href="SweetResa">réservation</a></li>
						<li><a href="SweetActivities">activités</a></li>
						<li><a href="SweetContact">contact</a></li>
					</ul>
					<a href="#" id="pull">Menu</a>
				</nav>
			</div>
		</div>
	</div>
</div>
	
	
	<!--  MISE EN PLACE DU CORPS DU DOCUMENT  -->
<div class="main_bg">
	<div class="wrap">
	<div class="contact-form">
					<br/>
				  	<h1 align="center">Devenez hôte</h1><br/>
				  	<p align="center"> Publiez votre annonce.<br/>
				  	SweetHolidays vous permet de gagner de l'argent en louant votre logement.</p>
					    <form th:action="@{/SweetAddFlat}" method="post" th:object="${newflat}">
					    	<div>
					    	<span><label>Type de logement :</label></span>
							  <select th:field="*{Type_Log}" name="type_log" size="1">
							    <option value="Logement entier">Logement entier</option>
							    <option value="Chambre privée">Chambre privée</option>
							    <option value="Chambre partagée">Chambre partagée</option>
							  </select>
						    </div>
						    <div>
					    	<span><label>Capacité de logement :</label></span>
							  <select th:field="*{Capa_Log}" name="capa_log" size="1">
							    <option value="1" selected="selected">1</option>
							    <option value="2">2</option>
							    <option value="3">3</option>
							    <option value="4">4</option>
							    <option value="5">5</option>
							    <option value="6">6</option>
							    <option value="7">7</option>
							    <option value="8">8</option>
							    <option value="9">9</option>
							    <option value="10">10</option>
							    <option value="11">10+</option>
							  </select>
						    </div>
						    <div>
						     	<span><label>Nom du logement :</label></span>
						    	<span><input th:field="*{Nom_Log}" name="nom_log" type="text" class="textbox"/></span>
						    </div>
						    <div>
						     	<span><label>Prix d'une nuit du logement :</label></span>
						    	<span><input th:field="*{Prix_Log}" name="prix_log" type="text" class="textbox"/></span>
						    </div>
						    <div>
						     	<span><label>Adresse du logement :</label></span>
						    	<span><input th:field="*{Adresse_Log}" name="adresse_log" type="text" class="textbox"/></span>
						    </div>
						    <div>
						     	<span><label>Code postal :</label></span>
						    	<span><input th:field="*{CP_Log}" name="cp_log" type="text"/></span>
						    </div>
						    <div>
						     	<span><label>Ville :</label></span>
						    	<span><input th:field="*{Ville_Log}" name="ville_log" type="text" class="textbox"/></span>
						    </div>
						    <div>
						    	<span><label>Description :</label></span>
						    	<span><textarea th:field="*{Desc_Log}" name="desc_log"> </textarea></span>
						    </div>
						    <div>
						    <span><label>Equipements disponibles :</label></span>
						    <input type="checkbox" name="cuisine_log" id="Cuisine" /> <label for="cuisine_log">Cuisine</label>
						    <br/>
						    <input type="checkbox" name="net_log" id="Internet" /> <label for="net_log">Internet</label>
						    <br/>
						    <input type="checkbox" name="tv_log" id="Television" /> <label for="tv_log">Television</label>
						    <br/>
						    <input type="checkbox" name="chauff_log" id="Chauffage" /> <label for="chauff_log">Chauffage</label>
						    </div>
						    <div>
						    	<span><label>Règlement intérieur :</label></span>
						    	<span><textarea th:field="*{Regle_Log}" name="reg_log"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="soumettre"/></span>
						  </div>
						  <br/>
						  <br/>
					    </form>
				    </div>
	</div>
</div>
	<!--  MISE EN PLACE DU FOOTER PRESENT EN BAS DU DOCUMENT -->
	<div class="footer_bg">
		<div class="wrap">
			<div class="footer">
				<div class="copy">
					<p class="link">
						<span>© All rights reserved Team BAZOOKA</span>
					</p>
				</div>
				<div class="f_nav">
					<ul>
						<li class="active"><a href="SweetNew">Devenez hôte</a></li>
						<li><a href="SweetHolidays">hôtel</a></li>
						<li><a href="SweetPlace">chambres &amp; appartements</a></li>
						<li><a href="SweetResa">réservation</a></li>
						<li><a href="SweetActivities">activités</a></li>
						<li><a href="SweetContact">contact</a></li>
					</ul>
				</div>
				<div class="soc_icons">
					<ul>
						<li><a class="icon1" href="#"></a></li>
						<li><a class="icon2" href="#"></a></li>
						<li><a class="icon3" href="#"></a></li>
						<li><a class="icon4" href="#"></a></li>
						<li><a class="icon5" href="#"></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>