<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SweetHolidays</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<!--strat-date-piker-->
<link rel="stylesheet" href="css/jquery-ui.css" />
<script src="js/jquery-ui.js"></script>
<script>
	$(function() {
		$("#datepicker").datepicker({ dateFormat: 'dd-mm-yy', onClose: function( selectedDate ) {
	          $( "#datepicker1" ).datepicker( "option", "minDate", selectedDate );
        }}).val();
		$("#datepicker1").datepicker({ dateFormat: 'dd-mm-yy', onClose: function( selectedDate ) {
	          $( "#datepicker" ).datepicker( "option", "maxDate", selectedDate );
      }}).val();
	   
	});
</script>
<!--/End-date-piker-->
<script type="text/javascript" src="js/validation_form.js"></script>
<link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css" />
<script type="text/javascript" src="js/JFForms.js"></script>
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
<!--nav-->
<script>
//<![CDATA[
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
		//]]>
</script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<a href="SweetHolidays"><img src="images/logo.png" alt="" /></a>
			</div>
			<div class="h_right">
				<!--start menu -->
				<ul class="menu">
					<li><a href="SweetNew">Devenez hôte</a></li>
					<li><a href="SweetHolidays">hôtel</a></li>
					<li><a href="SweetPlace">chambres &amp; appartements</a></li>
					<li class="active"><a href="SweetResa">réservation</a></li>
					<li><a href="SweetActivities">activités</a></li>
					<li><a href="SweetContact">contact</a></li>
				</ul>
					<div class="co_btn">
						<form th:if="${session.AUTH != null}" >
							<p style="color:white; margin-top:-0.9%;">Bonjour</p>
							<p style="color:white;" th:text="${session.AUTH.name} + ' ' + ${session.AUTH.prenom}"></p>
						</form>
					</div>	
			</div>
			<div class="clear"></div>
			<div class="top-nav">
				<nav class="clearfix">
					<ul>
						<li><a href="SweetNew">Devenez hôte</a></li>
						<li><a href="SweetHolidays">hôtel</a></li>
						<li><a href="SweetPlace">chambres &amp; appartements</a></li>
						<li class="active"><a href="SweetResa">réservation</a></li>
						<li><a href="SweetActivities">activités</a></li>
						<li><a href="SweetContact">contact</a></li>
					</ul>
					<a href="#" id="pull">Menu</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<!--start main -->
<div class="main_bg">
<div class="wrap">
		
		<!-- Validation et confirmation de la réservation -->
		<form th:action="@{/SweetSearch}" method="post" th:object="${reservation}">
			<div>
			<br /><br /><br /><br />
		<div class="grids_of_3">
				<div class="grid1_of_3">
					<h4>
						<a href="/SweetHolidays">Votre reservation :</a>
					</h4>
						<p th:text="'Id : ' + ${reservation.id}" />
						<p th:text="'Id client : ' + ${reservation.id_client}" />
						<p th:text="'Id logement : ' + ${reservation.id_logement}" />
						<p th:text="'Date d\'arrivée : ' + ${reservation.arrival_date}" />
						<p th:text="'Date de départ : ' + ${reservation.departure_date}" />
						<p th:text="'Nombre de personnes : ' + ${reservation.number_of_people}" />
				</div>
		</div>
		
			</div>
		</form>
			
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
</div>		
<!--start main -->
<div class="footer_bg">
	<div class="wrap">
		<div class="footer">
			<div class="copy">
				<p class="link">
					<span>© All rights reserved Team BAZOOKA</span>
				</p>
			</div>
			<div class="f_nav">
				<ul>
					<li><a href="SweetNew">Devenez hôte</a></li>
					<li><a href="SweetHolidays">hôtel</a></li>
					<li><a href="SweetPlace">chambres &amp; appartements</a></li>
					<li class="active"><a href="SweetResa">réservation</a></li>
					<li><a href="SweetActivities">activités</a></li>
					<li><a href="SweetContact">contact</a></li>
				</ul>
			</div>
			<div class="soc_icons">
				<ul>
					<li><a class="icon1" href="#"></a></li>
					<li><a class="icon2" href="#"></a></li>
					<li><a class="icon3" href="#"></a></li>
					<li><a class="icon4" href="#"></a></li>
					<li><a class="icon5" href="#"></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</body>
</html>